/* 
@media (min-width: 1400px) {

}
@media (min-width: 1200px) {
  .container {
     max-width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner-ozone-info {
        padding-top: 190px;
    }

    #about {
        padding: 55px 0;
    }

    .about-content .text-head {
        padding-bottom: 7px;
    }

    .about-content .text-title {
        padding-bottom: 15px;
    }

    .about-content .button-next {
        padding-top: 25px;
    }

    #company .container {
        max-width: 1170px;
        padding: 50px 0;
    }

    .company-title {
        padding-bottom: 10px;
    }

    .card-text {
        padding: 0 25px 25px 25px;
    }

    .card-calendar {
        padding: 15px;
    }

    .company-box {
        padding-bottom: 15px;
    }

    .footer-nav {
        padding: 112px 20px 0 91px;
    }
}

@media (min-width: 800px) and (max-width: 991px) {
    .header {
        padding-top: 0;
    }
    .header::after {
        top: 250px;
    }
    .banner-img {
        margin-top: -80px;
    }
    .banner-ozone-info {
        padding-top: 120px;
    }
    .banner-container-fluid {
        min-height: 740px;
    }

    #about {
        padding: 0;
    }

    .about-img-company {
        text-align: center;
    }

    .about-content {
        padding: 21px 95px;
    }

    #company .container {
        padding: 30px 0;
    }

    .company-title {
        padding-bottom: 15px;
    }

    .company-box {
        padding-bottom: 30px;
    }
    .client-title {
        padding: 0px 0 25px 0;
    }

    .client-info p {
        font-size: 13px;
    }

    .slick-dots {
        padding-left: 331px;
    }

    .client-customer {
        padding: 0px 0 21px 0;
    }
    #client .container {
        padding-bottom: 0;
    }

    .contactbody-box-container h3 {
        padding: 30px 0px 0;
    }

    .footer-nav {
        padding: 110px 20px 0 77px;
    }

    .footer-bot {
        padding-bottom: 43px;
    }
}

@media (min-width: 768px) and (max-width: 799px) {
    .header {
        padding-top: 0;
    }
    .header::after {
        top: 255px;
    }
    .banner-ozone-info {
        padding-top: 152px;
    }
    .menu-nav li a {
        font-size: 12px;
    }
    .banner-img {
        margin-top: -82px;
    }

    .banner-container-fluid {
        min-height: 761px;
    }
    #about {
        padding: 50px 0;
    }

    .about-img-company {
        text-align: center;
    }
    .about-content {
        padding: 0 82px;
    }
    #company .container {
        padding: 60px 0;
    }
    .company-title {
        padding-bottom: 16px;
    }
    .client-title {
        padding: 87px 0 38px 0;
    }
    .client-info p {
        font-size: 14px;
        padding-bottom: 30px;
        line-height: 20px;
    }
    .slick-dots {
        padding-left: 332px;
    }
    .contactbody-box-container h3 {
        padding: 30px 0px 0;
    }
    .footer-nav {
        padding: 110px 20px 0 77px;
    }
}

/* @media (min-width: 575px) and (max-width: 767px) {
    .header {
        padding-top: 0;
    }
    .header::after {
        top: 282px;
    }
    .menu-nav li a {
        font-size: 12px;
    }
    .banner-ozone-info {
        padding-top: 152px;
    }
    .banner-container-fluid {
        min-height: 761px;
    }
} */ 
