
@media (min-width: 1400px) {

}
@media (min-width: 1200px) {
  .container {
     max-width: 1170px;
  }
  .client-img-blue {
        left: 125px;
        bottom: -38px;
        padding: 23px;
        background-color: #265BC5;
    }   
}
@media (min-width: 1024px) {
    .banner-icon a:hover {
        color: rgba(1, 102, 235, 0.486);
    }
    .menu-nav li a:hover {
        opacity: 0.8;
    }
    .menu-nav ul li:hover::before {
        transition: 0.3s;
        transform: scale(1);
    }
    .button-next-link:hover {
        background-color: #265BC5;
        color: #fff;
        cursor: pointer;
    }
    .rectange img:hover {
        opacity: 0.8;
    }
    .icon-column:hover {
        background-color: #265BC5;
        cursor: pointer;
        color: #fff;
    }
    
    .icon-column:hover p {
        color: #f8f8f8;
        font-size: 18px;
    }
    .company-box a:hover {
        box-shadow: 5px 5px 30px rgba(1, 102, 235, 0.486);
    }
    .footer-nav a:hover {
        color: #2555B4;
    }
    .input-group a:hover {
        background-color: #265BC5;;
    }
    .footer-icon img:hover {
        opacity: 0.8;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .banner-ozone-info {
        padding-top: 190px;
    }

    #about {
        padding: 55px 0;
    }

    .about-content .text-head {
        padding-bottom: 7px;
    }
    .about-content .text-title {
        padding-bottom: 8px;
    }
    .client-title {
        padding: 100px 0 38px 0;
    }
    .contactbody-box-container h3 {
        font-size: 35px;
    }
    .about-content .button-next {
        padding-top: 5px;
    }
    .contactbody-item:not(:first-child) {
        padding: 55px 0;
    }
    .contactbody-box-container p {
        font-size: 13px;
    }
    #company .container {
        max-width: 1170px;
        padding: 50px 0;
    }

    .about-content .text-information, .text-information-next {
        font-size: 15px;
        line-height: 21px;
    }
    .company-title {
        padding-bottom: 10px;
    }

    .card-text {
        padding: 0 25px 25px 25px;
    }

    .card-calendar {
        padding: 15px;
    }

    .company-box {
        padding-bottom: 15px;
    }

    .footer-nav {
        padding: 112px 20px 0 91px;
    }
}

@media (min-width: 885px) and (max-width: 992px) {
    .header {
        padding-top: 0;
    }
    .header::after {
        top: 250px;
        position: unset;
    }
    .header-contact {
        padding-top: 30px;
    }
    .hotline, .mail .contact-text p {
        padding-right: 30px;
    }
    .banner-img {
        margin-top: -55px;
    }
    .banner-ozone-info {
        padding-top: 120px;
    }
    .banner-container-fluid {
        min-height: 740px;
    }
    .header-logo p {
        display: none;
    }
    #about {
        padding: 0;
    }

    .about-img-company {
        text-align: center;
        padding: 40px 0;
    }

    .about-img-blue {
        background: #265BC5;
        color: #f8f8f8;
        max-width: 327px;
        padding: 43px 18px 33px 68px;
        bottom: 0px;
        right: 212px;
    }
    img {
        max-width: 80%;
        vertical-align: bottom;

    }.about-icon-double {
        right: 478px;
        bottom: 50px;
        z-index: 2;
    }

    .about-content {
        padding: 21px 193px;
    }

    .about-content .text-head {
        text-align: center;
    }

    .about-content .text-title {
        text-align: center;
    }

    .about-content .text-information, .text-information-next {
        text-align: justify;
        max-width: 603px;
    }

    .text-information {
        padding-bottom: 20px;
    }

    .about-content .button-next {
        padding: 35px 188px 15px 188px;
    }

    .client-img-customer {
        width: 380px;
    }

    #company .container {
        padding: 30px 0;
    }

    .company-title {
        padding-bottom: 15px;
    }

    .company-box {
        padding-bottom: 30px;
    }
    .client-title {
        padding: 0px 0 25px 0;
    }

    .client-info p {
        font-size: 13px;
    }

    .slick-dots {
        padding-left: 331px;
    }

    .client-customer {
        padding: 0px 0 21px 0;
    }
    #client .container {
        padding-bottom: 0;
    }

    .contactbody-box-container h3 {
        padding: 30px 0px 0;
    }

    .footer-nav {
        padding: 110px 20px 0 77px;
    }

    .footer-bot {
        padding-bottom: 43px;
    }
}

@media (min-width: 817px) and (max-width: 884px) {
    .header {
        padding-top: 0;
    }
    .header::after {
        top: 255px;
    }
    .banner-ozone-info {
        padding-top: 152px;
    }
    .menu-nav li a {
        font-size: 12px;
    }
    .banner-img {
        margin-top: -82px;
    }

    .banner-container-fluid {
        min-height: 761px;
    }
    #about {
        padding: 50px 0;
    }

    .about-img-company {
        text-align: center;
    }
    .about-content {
        padding: 0 82px;
    }
    #company .container {
        padding: 60px 0;
    }
    .company-title {
        padding-bottom: 16px;
    }
    .client-title {
        padding: 87px 0 38px 0;
    }
    .client-info p {
        font-size: 14px;
        padding-bottom: 30px;
        line-height: 20px;
    }
    .slick-dots {
        padding-left: 332px;
    }
    .contactbody-box-container h3 {
        padding: 30px 0px 0;
    }
    .footer-nav {
        padding: 110px 20px 0 77px;
    }
}

@media (min-width: 817px) and (max-width: 884px) {
    .header {
        padding-top: 0;
    }
    .header::after {
        top: 177px;
    }
    .header-contact {
        padding-top: 30px;
    }
    .hotline, .mail .contact-text p {
        padding-right: 10px;
    }
    .header-logo p {
        display: none;
    }
    .banner-ozone-info {
        padding-top: 152px;
    }
    .menu-nav li a {
        font-size: 12px;
    }
    .banner-img {
        margin-top: -82px;
    }

    .banner-container-fluid {
        min-height: 761px;
    }
    #about {
        padding: 50px 0;
    }

    .about-img-company {
        text-align: center;
    }
    .about-content {
        padding: 0 82px;
    }
    #company .container {
        padding: 60px 0;
    }
    .company-title {
        padding-bottom: 16px;
    }
    .client-title {
        padding: 87px 0 38px 0;
    }
    .client-info p {
        font-size: 14px;
        padding-bottom: 30px;
        line-height: 20px;
    }
    .slick-dots {
        padding-left: 332px;
    }
    .contactbody-box-container h3 {
        padding: 30px 0px 0;
    }
    .footer-nav {
        padding: 110px 20px 0 77px;
    }
}
@media (min-width: 768px) and (max-width: 816px) {
    .header {
        padding-top: 0;
    }
    .header::after {
        top: 150px;
    }
    .hotline, .mail .contact-text p {
        padding-right: 10px;
    }
    .header-logo p {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #2C4985;
        display: none;
    }
    .header-contact {
        padding-top: 15px;
    }
    .banner-ozone-info {
        padding-top: 152px;
    }
    .menu-nav li a {
        font-size: 12px;
    }
    .banner-img {
        margin-top: -82px;
    }

    .banner-container-fluid {
        min-height: 761px;
    }
    #about {
        padding: 50px 0;
    }

    .about-img-company {
        text-align: center;
    }
    .about-content {
        padding: 0 82px;
    }
    #company .container {
        padding: 60px 0;
    }
    .company-title {
        padding-bottom: 16px;
    }
    .client-title {
        padding: 87px 0 38px 0;
    }
    .client-info p {
        font-size: 14px;
        padding-bottom: 30px;
        line-height: 20px;
    }
    .slick-dots {
        padding-left: 332px;
    }
    .contactbody-box-container h3 {
        padding: 30px 0px 0;
    }
    .footer-nav {
        padding: 110px 20px 0 77px;
    }
}

@media (max-width: 992px) {
    .header::after {
        display: none;
    }
    .header-logo::before {
       display: none;
    }
    img {
        max-width: 100%;
    }
    .banner-img {
        margin-top: -45px;
    }
    .header .container {
        align-items: center;
    }
    .client-info img {
        width: 40px;
        left: -40px;
    }
    .banner-ozone-info {
        padding-top: 115px;
    }
    .banner-ozone-info {
        padding-top: 115px;
        max-width: 720px;
    }
    .banner-content .text-title {
        font-size: 36px;
        line-height: 50px;
    }
    .banner-icon {
        padding-top: 220px;
    }
    .icon img {
        max-width: 80%;
    }
    .icon-column {
        padding: 51px 10px;
    }
    .footer-regis {
        padding-top: 110px;
        padding-right: 20px;
    }
    #about {
        padding: 35px 0;
    }
    .banner-container-fluid {
        min-height: 555px;
    }
    .about-img-company img{
        text-align: center;
        width: 720px;
    }
    .about-content {
        text-align: center;
    }
    .about-content .text-head {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .about-content .text-title {
        padding-bottom: 8px;
    }
    .about-content .text-information, .text-information-next {
        text-align: justify;
        max-width: 720px;
    }
    .card-calendar:not(:last-child()) {
        padding: 25px 25px 50px 25px;
    }
    .about-content {
        padding: 0;
    }
    .text-information {
        padding-bottom: 10px;
    }
    .about-content .button-next {
        padding-top: 15px;
    }
    .service-list {
        padding: 60px 0;
    }
    #company .container {
        max-width: 922px;
        padding: 35px 0;
    }
    .company-title p {
        padding-bottom: 8px;
    }
    .client-customer {
        padding: 0px 0 40px 0;
    }
    .company-title {
        padding-bottom: 16px;
    }
    .icon-card h2 {
        font-size: 20px;
    }
    .card-text {
        padding: 0 0 15px 0;
        border-bottom: 1px solid #E0E0E0;
    }
    .company-box {
        padding-bottom: 0px;
    }
    .client-title {
        padding: 40px 0 25px 0;
    }    
    .contactbody-box-container h3 {
        padding: 40px 0 0px;
    }
    .client-info {
        max-width: 100%;
        margin-left: 80px;
        position: relative;
        padding-top: 25px;
    }
    .map-img a iframe {
        width: 100%;
    }
    .client-img-customer img {
        width: 100%;
    }
    .client-info p {
        font-size: 14px;
        line-height: 19px;
    }
    #client .container {
        max-width: 720px;
        padding-bottom: 30px;
    }
    .client-img-blue {
        left: 115px;
    }
    .about-img-blue {
        right: 20px;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 8px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: #f8f8f8;
        padding-bottom: 8px;
    }
    .header-logo {
        padding-top: 0;
    }
    .header-contact img {
        padding-right: 15px;
    }
    .header-contact .mail img {
        height: 23px;
    }
    body {
        margin-top: 68px;
    }
    .header::after {
        top: 150px;
    }
    .service-list {
        padding: 50px 0;
    }
    .banner-container-fluid {
        min-height: 450px;
    }
    .header-logo img {
        max-width: 80px;
    }
    .banner-ozone-info {
        padding-top: 50px;
    }
    .banner-content .text-content {
        font-size: 14px;
        padding-bottom: 80px;
        text-align: justify;
    }
    #about {
        padding: 35px 0;
    }
    .client-info p {
        font-size: 16px;
        max-width: 650px;
    }
    .icon img {
        max-width: 80%;
    }
    .banner-content .text-title {
        font-size: 30px;
        line-height: 35px;
        text-align: justify;
    }
    .menu-nav ul li::before {
        background-color: unset;
    }
    .client-customer {
        padding: 0px 0 40px 0;
    }
    .contact-text {
        display: none;
    }
    .time {
        visibility: hidden;
    }
    .header-logo p {
        display: none;
    }
    .banner-img {
        margin-top: 5px;
    }
    .hotline, .mail .contact-text p {
        padding-right: 0;
    }
    .about-content .button-next {
        padding-top: 16px;
    }
    #company .container {
        max-width: 720px;
        padding: 40px 0;
    }.company-title p {
        padding-bottom: 8px;
    }
    .company-title {
        padding-bottom: 8px;
    }
    .banner-icon {
        padding-top: 200px;
    }

    .header-contact {
        padding-bottom: 0;
    }
    .company-box {
        padding-bottom: 0px;
    }
    .client-img-customer img {
        width: 100%;
    }
    .client-info {
        padding-top: 50px;
        margin-left: 42px;
    }
    .client-info img {
        top: 40px;
    }
    .client-customer {
        flex-wrap: wrap;
    }
    .about-content .text-head {
        padding-top: 45px;
        padding-bottom: 0px;
    }
    .group-item {
        width: calc((100%-44px)/2)
    }
    .footer-about {
        padding-top: 16px;
        text-align: center;
    }
    .footer-about img {
        padding-bottom: 8px;
    }
    .footer-about h3 {
        padding-bottom: 8px;
    }
    .footer-about p {
        text-align: justify;
    }
    .footer-nav {
        padding: 24px 0px 0 13px;
        text-align: center;
    }
    .footer-nav h3 {
        padding-bottom: 4px;
    }
    .footer-regis {
        padding-top: 8px;
        padding-right: 14px;
        text-align: center;
    }
    .footer-icon {
        padding: 8px 0;
    }
    .footer-regis h3 {
        padding-bottom: 8px;
    }
    .footer-bot {
        padding-bottom: 45px;
    }
    .footer-nav-menu {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sub-menu {
        display: block;
        position: absolute;
        right: 3%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: #265BC5;
        z-index: 999;
    }
    .menu-nav {
        position: absolute;
        z-index: 99;
        left: 0;
        right: 0;
        top: 68px;
        transform: translateX(-100%);
        transition: 0.8s;
    }
    .menu-nav ul {
        background-color: #2C4985;
        flex-direction: column;
        height: 100vh;
        justify-content: unset;
    }
    .menu-nav li {
        margin-top: 20px;
        text-align: center;
        position: unset;
        border-bottom: 1px solid aliceblue;
        padding-bottom: 25px;
    }
    .menu-nav.isactive { 
        transform: translateX(0);
    }
    
}

@media (max-width: 576px) {
    .header-logo {
        padding-top: 0;;
    }
    .banner-content .text-title {
        font-size: 23px;
        line-height: 32px;
        text-align: left;
    }
    .banner-content .text-content {
        font-size: 14px;
        padding-bottom: 40px;
    }
    .banner-icon {
        padding-top: 175px;
    }
    .banner-container-fluid {
        min-height: 440px;
    }
    .about-img-blue {
        max-width: 170px;
        padding: 12px 13px 10px 30px;
        bottom: -16px;
        right: 15px;
        text-align: left;
    }
    .about-img-blue p {
        font-size: 3vw;
        line-height: 20px;
    }
    .about-icon-double img {
        width: 35%;
    }
    .about-icon-double {
        right: 101px;
        bottom: 20px;
    }
    .text-center {
        padding-right: 5px;
    }
    .about-content .text-title {
        font-size: 34px;
    }
    .about-content .text-information, .text-information-next {
        font-size: 14px;
    }
    .icon-column {
        padding: 25px 10px;
    }
    .icon-img img {
        max-width: 80%;
    }
    .client-customer {
        padding: 0px 0 40px 0;
    }
    .icon img {
        max-width: 60%;
    }
    .icon-column p {
        font-size: 14px;
    }
    .company-title h1 {
        font-size: 34px;
    }
    .icon-card h2 {
        font-size: 22px;
        line-height: 24px;
        padding: 14px 0 14px 0;
    }
    .client-title h1 {
        font-size: 36px;
    }
    .client-title {
        padding: 50px 0 10px 0;
    }
    .client-img-blue {
        left: 100px;
    }
    .client-info p {
        font-size: 14px;
    }
    .contactbody-box-container h3 {
        font-size: 36px;
    }
    .contactbody-item:not(:first-child) {
        padding: 20px 0;
    }
    .contactbody-item a{
        display: flex;
        align-items: center;
    } 
    .contactbody-item a img {
        max-width: 28px;
    }
    .contactbody-box-container p {
        padding-top: 0;
        text-align: justify;
    }
    .contactbody-box-container h3 {
        font-size: 25px;
        padding: 20px 0 0;
    }
    .contactbody-item:not(:first-child) {
        padding: 5px 0;
    }
    .contactbody-item:last-child{
        padding-bottom: 20px;
    }
}

@media (max-width: 525px) {
    .banner-content .text-content {
        padding-bottom: 75px;
    }
    .banner-icon {
        padding-top: 210px;
    }
}

@media (max-width: 479px) {
    .banner-content .text-content {
        padding-bottom: 65px;
    }
    .banner-icon {
        padding-top: 255px;
    }
}

@media (max-width: 396px) {
    .banner-container-fluid {
        min-height: 545px;
    }
    .banner-icon {
        padding-top: 310px;
    }
}

@media (max-width: 381px) {
    
    .banner-container-fluid {
        min-height: 565px;
    }
    .banner-content .text-title {
        font-size: 24px;
        line-height: 30px;
    }
    .banner-content .text-content {
        padding-bottom: 75px;
    }
    .banner-icon {
        padding-top: 305px;
    }
}

@media (max-width: 336px) {
    .banner-icon {
        padding-top: 325px;
    }
    .banner-content .text-content {
        padding-bottom: 70px;
    }
}