
.header {
    padding-bottom:36px;
}

.img {
    width: 100%;
}

.header::before {
    position: absolute;
    content: '';
    width: 35%;
    height: 50px;
    background: #fff;
    left: -48px;
    top: 77px;
    transform: skewX(-55deg);
    z-index: 1;
}

.header-logo {
    padding-top: 10px;
    z-index: 1;
}


.header-logo p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #2C4985;
}

.header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.header-contact img {
    padding-right: 15px;
}

.contact-text p {
    padding-right: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1A3761;
}


.menu-nav li a {
    text-decoration: none;
    font-size: 14px;
    color: #f8f8f8;;
}

.menu-nav ul {
    border-bottom: 1px solid #f8f8f8;
}

.menu-nav li {
    padding-right: 70px;
    padding: 20px;
    text-align: center;
}

.menu-nav li:hover {
    border-bottom: 1px solid white;
}

.banner-container-fluid {
    background-image: url(../img/banner.jpg);
    min-height: 886px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img {
    margin-top: -135px;
}

.banner-ozone-info {
    padding-top: 250px;
    max-width: 1170px;
    /* margin: 0 375px 0 170px; */
}

.banner-content {
    max-width: 770px;
}

.banner-content .text-title {
    font-size: 46px;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.banner-content .text-content {
    font-size: 16px;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 55px;
    max-width: 671px;
}

.button-next a {
    text-decoration: none;
    background-color: #EE1F23;
    color: #fff;
    padding: 14px 51px;
    font-size: 16px;
}

.button-next img {
    padding: 15px;
    background-color: #F8F8F8;
}

.banner-icon {
    padding-top: 225px;
    display: grid;
    font-size: 24px
}

#about {
    padding: 110px 0;
}

.about-container {
    max-width: 1170px;
    margin: 0 172px;
}

.about-icon-double {
    right: 296px;
    bottom: 20px;
    z-index: 2;
}

.about-img-blue {
    background: #265BC5;
    color: #f8f8f8;
    max-width: 327px;
    padding: 43px 18px 33px 68px;
    bottom: -30px;
    right: 30px;
}

.about-img-blue p {
    font-size: 20px;
    color: #F8F8F8;
    font-weight: bold;
}

.about-content {
    padding: 0 70px;
}

.about-content .text-head {
    font-size: 14px;    
    text-transform: uppercase;
    color: #EE1F23;
    padding-bottom: 14px;
}

.about-content .text-title {
    font-size: 42px;
    color: #303030;
    font-weight: bold;
    padding-bottom: 30px;
}

.about-content .text-information, .text-information-next {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #505050;
    max-width: 497px;
    line-height: 1.4;
    padding-bottom: 16px;
}

.rectange {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.arrow-down-icon {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}