@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header {
    padding-top: 20px;
    position: relative;
}

.img {
    width: 100%;
}

.header .container {
    max-width: 1170px;
    align-items: start;
}

.header::before {
    position: absolute;
    content: '';
    width: calc((100% - 1170px)/2);
    height: 100%;
    background: #fff;
    left: 0;
    bottom: 47px;
    z-index: 2;
}

.header-logo {
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.header-logo::before {
    content: '';
    width: 370px;
    height: 100%;
    background: #fff;
    left: -50px;
    bottom: 1px;
    position: absolute;
    transform: skewX(-55deg);
    z-index: -1;
}

.header-logo p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #2C4985;
}

.header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    z-index: 1;
}

.header-contact img {
    padding-right: 15px;
}

.hotline, .mail .contact-text p {
    padding-right: 75px;
}

.contact-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1A3761;
}

.contact-text .p2 {
    color:#EE1F23; 
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 200px;
    background-color: rgba(244,244,244, 0.3);
    width: 100%;
    height: 0.2px;
    z-index: 4;
}

.menu-nav li a {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    align-items: center;
    font-size: 14px;
    color: #f8f8f8;
    transition: 0.5s;
    line-height: 16px;
    font-weight: 700;
    padding: 35px;
}


.menu-nav ul {
    z-index: 4;
    display: flex;
    justify-content: center;
}

.menu-nav li {
    margin-top: 20px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid transparent;
}


.menu-nav ul li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 2px;
    width: 100%;
    background-color: #C1F8FF;
    transform: scale(0);
    transition: 0.5s linear;
}

.banner-container-fluid {
    background-image: url(../img/banner.jpg);
    min-height: 886px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img {
    margin-top: -100px;
}

.banner-ozone-info {
    padding-top: 250px;
    max-width: 1170px;
    /* margin: 0 375px 0 170px; */
}

.banner-content {
    max-width: 770px;
}

.banner-content .text-title {
    font-size: 46px;
    color: #FFFFFF;
    padding-bottom: 24px;
    font-family: 'Mulish', sans-serif;
    line-height: 64px;
    font-weight: 800;
}

.banner-content .text-content {
    font-size: 16px;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 55px;
    max-width: 671px;
    line-height: 22px;
}


.button-next-link {
    text-decoration: none;
    background-color: #EE1F23;
    color: #fff;
    padding: 10px 58px 9px 10px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    min-width: 227px;
    text-align: center;
    font-family: 'Mulish';
    transition: 0.5s;
    
}


.button-next-link::after {
    position: absolute;
    content: "";
    background-image: url(../img/arrow-right\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F8F8F8;
    width: 47px;
    height: 47.8px;
    top: 0;
    right: 0;

}

.banner-icon {
    padding-top: 225px;
    display: grid;
    font-size: 24px;
    transition: 0.5s;
}

.banner-icon a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

#about {
    padding: 110px 0;
}

.about-container {
    max-width: 1170px;
    margin: 0 auto;
}

.about-icon-double {
    right: 296px;
    bottom: 20px;
    z-index: 2;
}

.about-img-blue {
    background: #265BC5;
    color: #f8f8f8;
    max-width: 327px;
    padding: 43px 18px 33px 68px;
    bottom: -30px;
    right: 30px;
    
}

.about-img-blue p {
    font-size: 20px;
    color: #F8F8F8;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    line-height: 23px;

}

.about-content {
    padding: 0 50px;
}

.about-content .text-head {
    font-size: 14px;    
    text-transform: uppercase;
    color: #EE1F23;
    padding-bottom: 14px;
    font-family: 'Mulish', sans-serif;

}

.about-content .text-title {
    font-size: 42px;
    color: #303030;
    font-weight: bold;
    padding-bottom: 30px;
    font-family: 'Mulish', sans-serif;
    ;
}

.text-information {
    padding-bottom: 15px;
}

.about-content .text-information, .text-information-next {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #505050;
    max-width: 497px;
    line-height: 22px;
    font-weight: 400;
    
}

.about-content .button-next {
    padding-top: 25px;
}

.rectange {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.rectange img {
    transition: 0.5s;
}


.arrow-down-icon {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.service-list {
    padding: 120px 0;
    max-width: 972px;
    margin: 0 auto;
}

.icon-column {
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #303030;
    padding: 51px 54px;
    transition: 0.5s;
}

.icon-column p {
    color: #265BC5;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    padding-bottom: 9px;
}

.icon-column:nth-child(1) {
    border-bottom: 1px solid #265BC5;
}

.icon-column:nth-child(2) {
    background: #265BC5;
    color: #F8F8F8;
}


#company .container {
    max-width: 1170px;
    padding: 110px 0;
}

.company-box {
    padding-bottom: 48px;
}

.company-box a {
    text-decoration: none;
    transition: 0.6s;
}


.company-title {
    padding-bottom: 38px;
}

.company-title p {
    color: #EE1F23;
    font-size: 14px;
    padding-bottom: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.company-title h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 49px;
    text-align: center;
    color: #303030;
    font-family: 'Mulish', sans-serif;
}

.card-calendar-first {
    margin-left: 24px;
    position: relative;
}

.card-calendar-first::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-calender.png);
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    right: calc((100% + 5px));
}

.card-calender-viewmore {
    margin-right: 24px;
    position: relative;
}

.card-calender-viewmore::after {
    position: absolute;
    content: "";
    background-image: url(../img/arrow-right.png);
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    left: calc((100% + 5px));
}

.card-text {
    padding: 0 25px 40px 25px;
    border-bottom: 1px solid #E0E0E0;
}

.icon-card a {
    display: block;
}

.icon-card h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #333333;
    padding: 24px 0 14px 0;
}


.icon-card p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 17px;
    font-size: 14px;
    color: #555555;
}


.card-calendar p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #303030;
    line-height: 16px;
    font-weight: 400;
}

.arrow-next a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #303030;
    text-decoration: none;
}

.arrow-next a {
    padding-right: 9px;
}

.card-calendar {
    padding: 25px;
}

#client .container {
    max-width: 1170px;
    padding-bottom: 50px;
}

#client .container-fluid {
    background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,1)),url(../img/backgroundClientpng.png) no-repeat center/cover
}

.client-title {
    padding: 155px 0 38px 0;
}

.client-title p {
    font-size: 14px;    
    text-align: center;
    text-transform: uppercase;
    color: #EE1F23;
    padding-bottom: 14px;
}

.client-title h1 {
    font-size: 42px;
    text-align: center;
    color: #303030;
} 

.client-img {
    width: 100%;
}

.client-img-customer {
    width: 100%;
}

.client-img-customer img {
    width: 100%;
}

.client-img-blue {
    left: 93px;
    bottom: -38px;
    padding: 23px;
    background-color: #265BC5;
}

.map-img a iframe {
    width: 100%;
}

.client-img-blue h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #F8F8F8;
}

.client-img-blue p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;     
    color: #F8F8F8;
} 

.client-info {
    max-width: 100%;
    margin-left: 120px;
    position: relative;
    padding-top: 25px;
}

.client-info img {
    position: absolute;
    left: -70px;
    top: 12px;
}

.client-info p {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #505050;
    max-width: 524px;
    padding-bottom: 50px;
    line-height: 22px;
}

.client-customer {
    padding: 0px 0 52px 0;
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
}

.group-item {
    width: calc((100%-88px)/5);
}

.group-item:not(:last-child) {
    padding-right: 22px;
}

#contactbody {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/backgroundcontactbody.jpg);
    background-image: url(../img/backgroundcontactbody.jpg);
    background-size: cover;
    background-position: bottom;
}

.contactbody-box {
    background-color: #265BC5;
    opacity: 0.9;
}

#contactbody .container {
    max-width: 1170px;
}

.contactbody-box-container {
    color: #f8f8f8;
}
.contactbody-box-container h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 42px;
    font-weight: 700;
    padding: 80px 0;
    line-height: 49px;
}

.contactbody-box-container a {
    text-decoration: none;
}

.contactbody-box-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    align-items: center;
    color: #F8F8F8;
    text-align: center;
    padding-top: 20px;
    line-height: 19px;
    font-weight: 700;
}


.contactbody-item:not(:first-child) {
    padding: 46px 0;
}

.footer .container {
    max-width: 1170px;
}

.footer-box {
    background-color: #F3F3F6;
}

.footer-about {
    padding-top: 42px;
}

.footer-about img {
    padding-bottom: 40px;
}

.footer-about h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    align-items: flex-start;
    color: #303030;
    padding-bottom: 15px;
    line-height: 22px;
}

.footer-about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-items: flex-start;    
    color: #505050;
    line-height: 26px;
    font-weight: 400;
}

.footer-nav {
    padding: 110px 20px 0 130px;
}

.footer-nav h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 20px;
    font-weight: 700;
    align-items:flex-start;
    color: #265BC5;
    padding-bottom: 20px;
}

.footer-nav a {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 14px;
    align-items:flex-start;
    color: #505050;
    padding-right: 30px;
    font-weight: 600;
    line-height: 19px;
    transition: 0.8s;
}


.footer-nav li img {
    padding-right: 10px;
    width: 5px;
    vertical-align: middle;
}

.footer-nav-menu {
    list-style: none;
    padding-left: 12px;
}

.footer-nav-menu a{
    text-decoration: none;
}

.footer-nav-menu li {
    padding: 5px 0px 5px 00px;
}

.footer-nav-menu li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;  
    width: 1em;
    margin-left: -1em;
    width: 6px;
}

.footer-regis {
    padding-top: 110px;
    padding-right: 80px;
}

.footer-regis h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 20px;
    align-items: flex-start;
    color: #265BC5;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-regis p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-items: flex-start;
    color: #505050;
    padding-bottom: 8px;
    line-height: 20px;
    font-weight: 400;
}

.footer-bot {
    padding-bottom: 90px;
}

.input-group {
    padding-bottom: 6px;
}
.input-group a {
    text-decoration: none;
    background-color: #EE1F23;
    color: #fff;
    font-size: 20px;
    padding: 14px 30px;
    transition: 0.9s;
}


.form-control:focus {
    box-shadow: none;
}

.input-group a img {
    padding-bottom: 10px;
}

.footer-icon {
    padding: 20px 0;
    border-top: 2px solid #D7D7D7;
    font-size: 24px;
}

/* slick-slider */
.slick-initialized .slick-slide {
    display: flex;
}

.slick-list {
    overflow: unset;
}

.slick-dots {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #EE1F23;
    border: 0.5px solid #265BC5;
    border-radius: 50%;
    font-size: 10px;
}

.client-box {
    overflow: hidden;
}

.sub-menu {
    display: none;
}

#btnScrolltoTop.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

#btnScrolltoTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #265BC5;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 999;
    transform: translateX(120px);
    transition: 0.4s;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}