
.header {
    padding-bottom:36px;
    max-width: 1920px;
}

.img {
    width: 100%;
}

.header::before {
    position: absolute;
    content: '';
    width: 38%;
    height: 64px;
    background: #fff;
    left: -48px;
    top: 82px;
    transform: skewX(-55deg);
    z-index: 1;
}

.header-logo {
    padding-top: 10px;
    z-index: 1;
}


.header-logo p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #2C4985;
}

.header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.header-contact img {
    padding-right: 15px;
}

.hotline, .mail .contact-text p {
    padding-right: 75px;
}

.contact-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1A3761;
}



.menu-nav li a {
    text-decoration: none;
    font-size: 14px;
    color: #f8f8f8;;
}

.menu-nav ul {
    border-bottom: 1px solid #f8f8f8;
    z-index: 4;
}

.menu-nav li {
    padding-right: 70px;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    border-bottom: 1px solid white;
}

.menu-nav li:hover {
    border-bottom: white;
}

.banner-container-fluid {
    background-image: url(../img/banner.jpg);
    min-height: 886px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img {
    margin-top: -135px;
}

.banner-ozone-info {
    padding-top: 250px;
    max-width: 1170px;
    /* margin: 0 375px 0 170px; */
}

.banner-content {
    max-width: 770px;
}

.banner-content .text-title {
    font-size: 46px;
    color: #FFFFFF;
    padding-bottom: 24px;
    font-family: 'Mulish', sans-serif;
}

.banner-content .text-content {
    font-size: 16px;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 55px;
    max-width: 671px;
}

.button-next a {
    text-decoration: none;
    background-color: #EE1F23;
    color: #fff;
    padding: 14px 51px;
    font-size: 16px;
    transition: 0.5s;
}
.button-next a:hover {
    background-color: #505050;
}

.button-next img {
    padding: 15px;
    background-color: #F8F8F8;
}

.banner-icon {
    padding-top: 225px;
    display: grid;
    font-size: 24px;

}

#about {
    padding: 110px 0;
}

.about-container {
    max-width: 1170px;
    margin: 0 auto;
}

.about-icon-double {
    right: 296px;
    bottom: 20px;
    z-index: 2;
}

.about-img-blue {
    background: #265BC5;
    color: #f8f8f8;
    max-width: 327px;
    padding: 43px 18px 33px 68px;
    bottom: -30px;
    right: 30px;
    
}

.about-img-blue p {
    font-size: 20px;
    color: #F8F8F8;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;

}

.about-content {
    padding: 0 70px;
}

.about-content .text-head {
    font-size: 14px;    
    text-transform: uppercase;
    color: #EE1F23;
    padding-bottom: 14px;
}

.about-content .text-title {
    font-size: 42px;
    color: #303030;
    font-weight: bold;
    padding-bottom: 30px;
}

.about-content .text-information, .text-information-next {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #505050;
    max-width: 497px;
    line-height: 1.4;
    padding-bottom: 16px;
}

.rectange {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

}

.arrow-down-icon {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.service-list {
    padding: 120px 0;
    max-width: 972px;
    margin: 0 auto;
}

.icon-column {
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #303030;
    padding: 51px 54px;
    transition: 0.5s;
}

.icon-column:nth-child(1) {
    border-bottom: 1px solid #265BC5;
}

.icon-column:nth-child(2) {
    background: #265BC5;
    color: #F8F8F8;
}

.icon-column:hover {
    background-color: #265BC5;
    cursor: pointer;
    color: #fff;
}

#company .container {
    max-width: 1170px;
    padding: 110px 0;
}

.company-title {
    padding-bottom: 38px;
}

.card-text {
    padding: 0 25px 40px 25px;
    border-bottom: 1px solid #E0E0E0;
}

.icon-card h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #333333;
    padding: 24px 0 14px 0;
}

.icon-card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555555;
}

.card-calendar img {
    padding-right: 9px;
}

.card-calendar p {
    padding-right: 102px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #303030;
}

.arrow-next a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #303030;
    text-decoration: none;
}

.arrow-next a {
    padding-right: 9px;
}

.card-calendar {
    padding: 25px;
}

#client .container {
    max-width: 967px;
}

.client-title {
    padding: 155px 0 38px 0;
}

.client-title p {
    font-size: 14px;    
    text-align: center;
    text-transform: uppercase;
    color: #EE1F23;
    padding-bottom: 14px;
}

.client-title h1 {
    font-size: 42px;
    text-align: center;
    color: #303030;
} 

.client-img {
    width: 302px;
}

.client-img-customer {
    width: 302px;
}

.client-img-customer img {
    width: 302px;
    height: 302px;
}

.client-img-blue {
    left: 93px;
    bottom: -38px;
    padding: 23px;
    background-color: #265BC5;
}

.client-img-blue h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #F8F8F8;
}

.client-img-blue p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;     
    color: #F8F8F8;
} 

.client-info {
    max-width: 100%;
    margin-left: 120px;
    position: relative;
    padding-top: 25px;
}

.client-info img {
    position: absolute;
    left: -70px;
    top: 12px;
}

.client-info p {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #505050;
}

.client-customer {
    padding: 150px 0 52px 0;
}

#contactbody {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/backgroundcontactbody.jpg);
    background-image: url(../img/backgroundcontactbody.jpg);
    background-size: cover;
    background-position: bottom;
}

.contactbody-box {
    background-color: #265BC5;
    opacity: 0.9;
}

#contactbody .container {
    max-width: 1170px;
}

.contactbody-box-container {
    color: #f8f8f8;
}
.contactbody-box-container h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 42px;
    font-weight: 700;
    padding: 80px 0;
}

.contactbody-box-container a {
    text-decoration: none;
}

.contactbody-box-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    align-items: center;
    color: #F8F8F8;
    text-align: center;
    padding-top: 20px;
}


.contactbody-item:not(:first-child) {
    padding: 46px 0;
}

.footer .container {
    max-width: 1170px;
}

.footer-box {
    background-color: #F3F3F6;
}

.footer-about {
    padding-top: 42px;
}

.footer-about img {
    padding-bottom: 40px;
}

.footer-about h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 16px;
    align-items: flex-start;
    color: #303030;
    padding-bottom: 15px;
}

.footer-about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-items: flex-start;    
    color: #505050
}

.footer-nav {
    padding: 110px 20px 0 130px;
}

.footer-nav h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 20px;
    font-weight: 700;
    align-items:flex-start;
    color: #265BC5;
    padding-bottom: 20px;
}

.footer-nav a {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 14px;
    align-items:flex-start;
    color: #505050;
    padding-right: 30px;
}

.footer-nav li img {
    padding-right: 10px;
    width: 5px;
    vertical-align: middle;
}

.footer-nav-menu {
    list-style: none;
    padding-left: 12px;
}

.footer-nav-menu a{
    text-decoration: none;
}

.footer-nav-menu li {
    padding: 5px 0px 5px 00px;
}

.footer-nav-menu li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;  
    width: 1em;
    margin-left: -1em;
    width: 6px;
}

.footer-regis {
    padding-top: 110px;
    padding-right: 80px;
}

.footer-regis h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 20px;
    align-items: flex-start;
    color: #265BC5;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-regis p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-items: flex-start;
    color: #505050;
    padding-bottom: 8px;
}

.footer-bot {
    padding-bottom: 90px;
}

.input-group {
    padding-bottom: 6px;
}
.input-group a {
    text-decoration: none;
    background-color: #EE1F23;
    color: #fff;
    font-size: 20px;
    padding: 14px 18px;
}

.footer-icon {
    padding: 20px 0;
    border-top: 2px solid #D7D7D7;
    font-size: 24px;
}